<footer class="site-footer h-card">
  <h2 class="footer-heading">Accidentally Unexpected</h2>
  <div class="footer-col-wrapper">
    <div class="footer-col footer-col-1">
      <ul class="contact-list">
        <li class="p-name">Ondřej Světlík</li>
      </ul>
    </div>

    <div class="footer-col footer-col-2">
    </div>

    <div class="footer-col footer-col-3">
	    <a href="https://creativecommons.org/licenses/by/4.0/legalcode.txt">
	      <img alt="CC BY 4.0 License" src="https://licensebuttons.net/l/by/4.0/88x31.png" />
	    </a>
    </div>
  </div>
</footer>
